[Desktop Entry]
Name=Breeze::OS
Name[ca]=Breeze::OS
Name[ca@valencia]=Breeze::OS
Name[da]=Breeze::OS
Name[de]=Breeze::OS
Name[es]=Breeze::OS
Name[et]=Breeze::OS
Name[fi]=Breeze::OS
Name[fr]=Breeze::OS
Name[ga]=Breeze::OS
Name[hu]=Breeze::OS
Name[it]=Breeze::OS
Name[kk]=Breeze::OS
Name[nb]=Breeze::OS
Name[nds]=Breeze::OS
Name[nl]=Breeze::OS
Name[pl]=Breeze::OS
Name[pt]=Breeze::OS
Name[pt_BR]=Breeze::OS
Name[sk]=Breeze::OS
Name[sl]=Breeze::OS
Name[sr]=Breeze::OS
Name[sr@ijekavian]=Breeze::OS
Name[sr@ijekavianlatin]=Breeze::OS
Name[sr@latin]=Breeze::OS
Name[sv]=Breeze::OS
Name[ug]=Breeze::OS
Name[uk]=Breeze::OS
Name[x-test]=Breeze::OS
Name[zh_CN]=Breeze::OS
Name[zh_TW]=Breeze::OS
X-KDE-PluginInfo-Name=BreezeOS
X-KDE-PluginInfo-Author=breeze.tsert.com
X-KDE-PluginInfo-Email=devel@breeze.tsert.com
X-KDE-PluginInfo-License=Commercial
